<div class="head" [class]="getHeadClass()">
    <div class="head-content">
        <div class="head-content-left">
            <div class="search-container">
                <div class="normal-search">
                    <input type="search" class="search" name="" id="" placeholder="Search...">
                    <mat-icon class="search-icon" fontIcon="search"></mat-icon>
                </div>
            </div>
        </div>
        <div class="head-content-right">
            <div class="head-menu">
                <div class="head-menu-item">
                    <button class="head-menu-item-btn ripple">
                        <img [src]="'assets/flags/us.jpg'" class="flag" alt="flag">
                    </button>
                </div>
                <div class="head-menu-item">
                    <button class="head-menu-item-btn ripple">
                        <mat-icon class="menu-icon" fontIcon="crop_square"></mat-icon>
                    </button>
                </div>
                <div class="head-menu-item">
                    <button class="head-menu-item-btn ripple">
                        <mat-icon class="menu-icon" fontIcon="notifications"></mat-icon>
                    </button>
                </div>
                <div class="head-menu-item">
                    <button class="head-menu-item-btn ripple">
                        <mat-icon class="menu-icon" fontIcon="chat"></mat-icon>
                    </button>
                </div>
            </div>
            <div class="head-user-avatar-container">
                <div class="head-user-avatar">
                    <img src="../../../assets/user3.jpg" alt="user" class="user-avatar">
                    <div class="circle-indicator pulse">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>