<h1>Products</h1>

<div class="card">
    <div class="card-head">Lorem ipsum dolor sit amet - Product 1</div>
    <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dignissim a nisl non facilisis. Aenean convallis tempus interdum. Maecenas eu mauris nisi. Nam molestie a massa id malesuada. Nullam scelerisque pellentesque velit ac convallis. Donec sagittis vestibulum purus nec efficitur. Donec mattis dui lectus, a interdum enim laoreet a. Nam et pharetra ex. Morbi varius eros non dui interdum cursus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc tincidunt euismod felis id tristique.
    </div>
</div>

<div class="card">
    <div class="card-head">Lorem ipsum dolor sit amet - Product 2</div>
    <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dignissim a nisl non facilisis. Aenean convallis tempus interdum. Maecenas eu mauris nisi. Nam molestie a massa id malesuada. Nullam scelerisque pellentesque velit ac convallis. Donec sagittis vestibulum purus nec efficitur. Donec mattis dui lectus, a interdum enim laoreet a. Nam et pharetra ex. Morbi varius eros non dui interdum cursus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc tincidunt euismod felis id tristique.
    </div>
</div>